
body{
    margin:0;
    background-color: #2ecb72;
    display: grid;
    grid-template-areas: "header"
                         "section"
                         "aside"
                         "footer";
    grid-template-columns: 100vw;
    grid-auto-rows: 83.3vh 46.09vh 58vh 81.05vh;
}

header{
    grid-area: header;
    margin-top: 8.48px;
    background-image: url("images/banner.png");
    background-size: cover;
}

section{
    grid-area: section;
    background-color: black;
}

aside{
    grid-area: aside;
    background-color: #e2e2e2;
}

footer{
    grid-area: footer;
    background-color: blueviolet;
}